<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 
	<display-name>contacts</display-name>
	<description>Java Web Contacts management application based on HTML5, AngularJS on client side, and JAX-RS and JPA on server side.</description>
	<!-- Jersey JAX-RS configuration -->
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.capgemini.contacts.application.Application</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- Log4j configuration -->
	<servlet>
		<servlet-name>Log4JInitServlet</servlet-name>
		<servlet-class>com.capgemini.contacts.tools.log.Log4JInitServlet</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Log4JInitServlet</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>

	<!-- Authorization -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>A Protected Page</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>user</role-name>
			<role-name>moderator</role-name>
		</auth-constraint>
	</security-constraint>
 
 	<!-- login system -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>MyRealm</realm-name>
	</login-config>
</web-app>