<div class="container-fluid">
    <h4>Contact list</h4>
    <form class="pull-left">
        <input type="text" class="search-query" placeholder="Search" ng-model="search.name">
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    username
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name 
                </th>
                <th>
                    email
                </th>
                <th>
                	Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in contacts | filter:search | orderBy:predicate:reverse">
                <td>{{contact.username}}</td>
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>{{contact.email}}</td>
                <td><a href="#/contact/edit/{{contact.id}}" class="icon-edit"></a></td>
            </tr>
        </tbody>
        <tfoot>
        	<tr>
        		<td colspan="4">
        		<div   style="float:left; width:40%;text-align:left;">Nombre de contacts: {{contacts.length}}</div>
        		<div style="float:right; width:40%;text-align:right;">
	        		|<a href="#" class="icon-arrow-left" title="Première page"></a>&nbsp;
	        		<a href="#" class="icon-arrow-left" title="Page précédente"></a>&nbsp;
	        		<a href="#" class="icon-arrow-right" title="Page suivante"></a>&nbsp;
	        		<a href="#" class="icon-arrow-right" title="Dernière page"></a>|
        		</div>
        		</td>
        	</tr>
        </tfoot>
    </table>
</div>